html {
    background-color: #1d4f40;
}
.navbar{
    background-color: black;
    width: 100%;
}

.navbarBackground{
    background-color: darkslategray;
}
* {
    box-sizing: border-box;
}

.flex-container {
    align-items: stretch;
    display: flex;
    flex-direction: column;

}

.flex-container > div {
    text-align: center;
}

.flex-item-left{
    word-break: break-all;
}

@media (min-width: 1000px) {
    .flex-container {
        flex-direction: row;
    }
}

#flexPostsDiv{
    width: 69%;

}
#flexNewsDiv{
    width: 30%;

}
.newsData{
    font-size:15px;line-height:20px;
}